# FILES
*.VC.db
*.VC.opendb
*.sdf
*.pdb
*.dll
*.exe
*.ilk
*.opensdf
*.idb
*.suo
*.dylib
*.sln
*.slnx
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
imgui.ini
CMakeCache.txt
cmake_install.cmake
VISUAL_NODE_SYSTEM_Version.h

#Folders
Debug/
Release/
.vs/
.idea/
CMakeFiles/
